/** Background styling **/
body {
    background-color: #2C302E;
}

header {
    background-color: #2C302E;
    padding: 20px;
}

#main {
    text-align: center;
    transition: margin-right .5s;
    padding: 20px;
}

/** Fonts  **/
h1 { 
    font-size: 400%;
    text-align: center;
    font-family: 'Lucida Bright';
    color: #C8E087;
}

.flavour {
  font-size: 150%;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: #7BAE7F;
}

#start_txt {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium';
    color: #9b1d20;
    text-align: center;
    vertical-align: center;
}

/** Button Styling **/

.start_btn {
    color: #7f6a93;
    width: 100px;
    height: 66px;
}

.start_btn :hover {
    color: #878e99;
}


/** side navigation bar**/

#open {
    float: right;
    font-size: 150%;
    margin-right: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }